{% extends 'base.html.twig' %}
{% block title %}CheckList System{% endblock %}

{% block body %}

    <div class="container col-md-8 mt-lg-5 text-center">
        <i class="far fa-check-circle fa-10x text-success"></i>
        <h4 class="mt-5">Votre CheckList a été enregistrer avec succès. A bientôt!! <i class="fas fa-smile text-warning"></i> </h4>
    </div>

{% endblock %}
