{% extends 'admin.html.twig' %}

{% block title %}Winparf{% endblock %}

{% block body %}
    <div class="bg-dark pt-2 pb-1">
        <h4 class="text-white text-center">LISTES</h4>
    </div>

    <div class="container mt-lg-5">
        <div class="text-center">
            <a href="{{ path('app_winparf') }}" class="btn btn-default text-primary"><i class="fad fa-add"></i> Ajouter un nouveau</a>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for winparf in readWinparf %}
                        <tr>
                            <th scope="row">{{ winparf.nom }}</th>
                            <th class="text-end"><a href="{{ path('app_delete_winparf', {id : winparf.id}) }}" class="btn btn-default text-danger"><i class="fad fa-trash"></i> Supprimer</a></th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}